<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047636452234-h9l7qptq1fuc1p2lmre3pt415kqol60i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047636452234-h9l7qptq1fuc1p2lmre3pt415kqol60i</string>
	<key>API_KEY</key>
	<string>AIzaSyDs7O3rPSgLtoDTZoywz6M45VSo8l6oaeI</string>
	<key>GCM_SENDER_ID</key>
	<string>1047636452234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stateManagement</string>
	<key>PROJECT_ID</key>
	<string>contact-crud-13e44</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-crud-13e44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047636452234:ios:6ff0950f8e14a3e7609e73</string>
</dict>
</plist>